.top-buffer { margin-top:20px; }
body{margin:40px;}

.fixed-panel {
  min-height: 10;
  max-height: 10;
  overflow-y: scroll;
}
.word-wrap {
  word-wrap: break-word;
}

/**/
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

/* Scroll bar */
html {
 overflow: -moz-scrollbars-vertical;
 overflow: scroll;
}
/* Scroll bar end */ 

/* Top fixed Navbar */
body { padding-top: 60px; }
/* Top fixed Navbar end */

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .modal {
  display: block;
}

.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
modal element will be visible */
.loading .modal {
  display: block;
}
/* Loading end */


/* table for print */
table{ border-collapse: collapse;  width: 100%; }
th, td {  text-align: left;  padding: 8px;}tr:nth-child(even){background-color: #f2f2f2}
/*th { background-color: #4CAF50; color: white; }*/
th {
  background: #e5e5e5;
  color: #454545;
  font-weight: bold;
  height: 40px;
}
tr.hoveractive:hover {background-color: #e6ffcc}
/* table for print end */

#slider {
 background-color: #ccb3ff;
 opacity:1;
 margin-top:100px;
}
/* side-bar end */

/* home page */
.bg-1 { 
  background-color: #e6eeff;
  color: #000000;
}
.bg-2 { 
  background-color: #e6e6e6;
  color: #000000;
}
.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; 
  color: #ffffff;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
/* home page end */

/* creative modified */
p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
section {
  padding: 50px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.text-primary {
  color: #e6e6e6;
}
/* creative modified end */ 
.values1 {
  width : 30px;
}
.navhover:hover{
  background-color: #a6a6a6;
}